[project]
	description = Open Delmic Microscope Software
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Éric Piel (pieleric)
[access "refs/for/refs/*"]
	read = group user/Éric Piel (pieleric)
	push = group user/Éric Piel (pieleric)
	label-Code-Review = -2..+2 group user/Éric Piel (pieleric)
	label-Verified = -1..+1 group user/Éric Piel (pieleric)
	rebase = group user/Éric Piel (pieleric)
	removeReviewer = group user/Éric Piel (pieleric)
	submit = group user/Éric Piel (pieleric)
[access "refs/heads/*"]
	read = group user/Éric Piel (pieleric)
	create = group user/Éric Piel (pieleric)
	push = +force group user/Éric Piel (pieleric)
	pushMerge = group user/Éric Piel (pieleric)
[access "refs/tags/*"]
	push = +force group user/Éric Piel (pieleric)
	pushTag = group user/Éric Piel (pieleric)
	pushSignedTag = group user/Éric Piel (pieleric)
